nav {
   background-color: red;
   color: white ;
   display: flex ;
   justify-content: space-between ;
   padding: 16px 24px;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

main {
    padding: 24px;
    max-width: 900px;
    margin: 0 auto;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

.filters button{
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    font-size: 14px;
}